.woocommerce-billing-fields .form-row,
.woocommerce-shipping-fields .form-row,
.woocommerce form .form-row {
  display: block;
}

.woocommerce .col2-set .col-1,
.woocommerce-page .col2-set .col-1,
.woocommerce .col2-set .col-2,
.woocommerce-page .col2-set .col-2 {
  max-width: unset;
}

#customer_details .col-1 {
  width: 100%;
}

#customer_details .col-2 {
  display: none;
}

#billing_company_field {
  display: none;
}

.woocommerce div.product div.images.woocommerce-product-gallery {
  width: 100%;
}

.woocommerce .quantity .qty {
  text-align: left;
}

.woocommerce-cart-form .shop_table .coupon {
  input {
    width: auto !important;
    font-size: 14px;
    height: 37px;
  }
  button {
    height: 37px;
    font-size: 14px;
  }
}

.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt {
  background: #d04abd;
}

.woocommerce div.product .woocommerce-tabs ul.tabs {
  margin-top: 30px;
}

#billing_country_field,
.woocommerce-privacy-policy-text {
  display: none;
}

#add_payment_method #payment ul.payment_methods,
.woocommerce-cart #payment ul.payment_methods,
.woocommerce-checkout #payment ul.payment_methods {
  border: none;
  padding-bottom: 0;
}

#add_payment_method #payment div.form-row,
.woocommerce-cart #payment div.form-row,
.woocommerce-checkout #payment div.form-row {
  padding-top: 0;
}

.woocommerce #payment #place_order,
.woocommerce-page #payment #place_order {
  width: 100%;
  height: 50px;
}

#metaslider_widget-2,
#metaslider_widget-3 {
  display: none;
}

@media (min-width: 992px) {
  #metaslider_widget-4,
  #metaslider_widget-5 {
    display: none;
  }

  #metaslider_widget-2,
  #metaslider_widget-3 {
    display: block;
  }
}

.woocommerce div.product div.images {
  width: 100%;
}

.woocommerce span.onsale {
  display: none;
}

.wpgs-for .slick-arrow {
  display: none !important;
}

.wpgs-nav .slick-prev:before,
.wpgs-nav .slick-next:before {
  font-size: 24px;
  color: #fff;
}

.slick-next {
  right: 0px;
}

.slick-prev {
  left: 0px;
}

.slick-next,
.slick-prev {
  width: 34px;
}
