.sidebar {
  background: #fff;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.08);
  padding: 15px;
  display: block;

  .list {
    margin: 0;
    padding: 0;
    list-style-type: none;

    a {
      color: #383838;
      font-size: 14px;
      font-family: "Arimo";
      margin-bottom: 10px;
      display: block;
      text-decoration: none;
      transition: all 0.25s;

      &.active {
        font-weight: 600;
      }

      &:hover {
        opacity: 0.8;
      }
    }
  }

  .title {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 10px;
  }
}
