.single-product {
  font-family: "Arimo";

  .single_variation_wrap {
    width: 100%;
  }

  .variations {
    tr {
      display: flex;
      flex-direction: column;
    }

    label {
      font-size: 16px;
      font-weight: bold;
    }

    select {
      width: 100%;
      background: #fff;
      margin-bottom: 10px;
      padding: 15px;
      border-radius: 0px;
      background: #fff;
      cursor: pointer;
    }
  }

  .reset_variations {
    display: none !important;
  }
  .woocommerce-tabs {
    font-size: 16px;
    line-height: 1.75;
  }
  .woocommerce-tabs .tabs {
    display: none;
  }
  .woocommerce-Tabs-panel--description {
    margin: 1em 0;
  }
  .woocommerce-tabs .panel h2:first-of-type {
    display: none;
  }
  .site-main {
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .main-price,
  .woocommerce-variation-price {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    del {
      font-size: 18px;
      color: rgba(0, 0, 0, 0.4);
      font-weight: 300;
    }
    ins {
      font-size: 32px;
      background: transparent;
      color: #575757;
      font-weight: 600;
      margin-left: 10px;
    }
  }

  .cart {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .quantity {
      width: 100%;

      input {
        width: 100%;
        padding: 15px;
      }
    }

    .button {
      cursor: pointer;
      background: $primary-color;
      border: none;
      color: #575757;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 21px;
      line-height: 1;
      border-radius: 0px;
      padding: 20px;
      margin-top: 22px;
      width: 100%;

      &:hover {
        opacity: 0.8;
      }

      i.fa {
        margin-right: 6px;
      }
    }
  }

  #cfpp {
    width: 100%;
    margin: 0;
    clear: both;

    .calculo-de-frete {
      display: flex;
      align-items: center;
      flex-wrap: wrap;

      &::before {
        content: "Calcular Frete";
        width: 100%;
        margin-top: 20px;
        text-transform: uppercase;
        font-weight: bold;
        margin-bottom: 10px;
      }

      svg {
        display: none;
      }
    }

    .calculo-de-frete input {
      width: calc(96% - 110px);
      height: 60px;
      margin-right: 10px;
      text-align: left;
      padding-left: 20px;
      font-size: 16px;

      &::placeholder {
        opacity: 0.5;
      }
    }

    .calculo-de-frete #calcular-frete {
      width: 110px;
      height: 60px;
      line-height: 1;
      flex-shrink: 0;
      margin: 0;
      display: flex !important;
      align-items: center;
      padding: 0px 20px;
      text-transform: uppercase;
      background: transparent;
      border: 1px solid #222;
      color: #222;
      justify-content: center;
    }

    #calcular-frete-loader {
      flex-shrink: 0;
      margin-left: 10px;
    }

    .resultado-frete thead {
      font-weight: bold;
    }
  }

  p.price {
    margin: 0.5em 0;
  }

  table.thwepo-extra-options.thwepo_variable::before {
    content: "Personalize sua vela";
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 15px;
    display: block;
  }

  table.thwepo-extra-options {
    margin: 0px;

    td {
      padding-bottom: 15px;
    }

    .label-tag {
      font-size: 16px;
      font-weight: bold;
    }

    select.thwepof-input-field,
    input,
    textarea {
      padding: 15px;
      border-radius: 0px;
      background: #fff;
      cursor: pointer;
      width: 100%;

      &::placeholder {
        opacity: 0.5;
      }
    }
  }

  .qty {
    display: inline-flex;
    align-items: center;
    margin-right: 10px;
    margin-left: auto;
    font-size: 16px;
    font-weight: bold;
    width: 100%;
  }
}
