.single-product {
  font-family: "Arimo";
  .woocommerce-tabs {
    font-size: 16px;
    line-height: 1.75;
  }
  .woocommerce-tabs .tabs {
    display: none;
  }
  .woocommerce-Tabs-panel--description {
    margin: 1em 0;
  }
  .woocommerce-tabs .panel h2:first-of-type {
    display: none;
  }
  .site-main {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .main-price {
    display: flex;
    align-items: center;
    del {
      font-size: 18px;
      color: rgba(0, 0, 0, 0.4);
      font-weight: 300;
    }
    ins {
      font-size: 32px;
      background: transparent;
      color: #575757;
      font-weight: 600;
      margin-left: 10px;
    }
  }

  .cart {
    display: flex;

    .quantity {
      margin-right: 10px;

      input {
        width: 90px;
        height: 100%;
        padding-left: 20px;
        padding-right: 20px;
      }
    }

    .button {
      cursor: pointer;
      background: $primary-color;
      border: none;
      color: #575757;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 26px;
      line-height: 1;
      border-radius: 0px;
      padding: 20px 32px;

      &:hover {
        opacity: 0.8;
      }

      i.fa {
        margin-right: 6px;
      }
    }
  }

  #cfpp {
    width: 100%;
    margin: 0;
    clear: both;

    .calculo-de-frete {
      display: flex;
      align-items: center;

      svg {
        display: none;
      }
    }

    .calculo-de-frete input {
      width: 200px;
      height: 60px;
      margin-right: 10px;
      text-align: left;
      padding-left: 20px;
      font-size: 16px;
    }

    .calculo-de-frete #calcular-frete {
      height: 60px;
      line-height: 1;
      flex-shrink: 0;
      margin: 0;
      display: flex !important;
      align-items: center;
      padding: 0px 20px;
      text-transform: uppercase;
      background: transparent;
      border: 1px solid #222;
      color: #222;
    }

    #calcular-frete-loader {
      flex-shrink: 0;
      margin-left: 10px;
    }

    .resultado-frete thead {
      font-weight: bold;
    }
  }
}
