.top-bar {
  color: #333;
  text-align: center;
  padding-top: 6px;
  padding-bottom: 6px;
  background: $primary-color;

  .row {
    min-height: 42px;
  }

  p,
  a {
    text-decoration: none;
    text-transform: uppercase;
    display: inline-flex;
    align-items: center;
    margin: 0;
    color: #333;
    font-family: "Arimo";
    font-size: 16px;
  }

  i.fab,
  i.fa {
    font-size: 22px;
  }

  i.fa {
    margin-right: 10px;
  }

  i.fab {
    margin-left: 10px;
  }

  ul.socialmedia {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: inline-flex;
    justify-content: center;

    li {
      a {
        color: #333;
        transition: all 0.25s;

        &:hover {
          opacity: 0.5;
        }
      }
    }
  }

  .col-12:last-child {
    display: flex;
    justify-content: center;

    p {
      margin: 0;
      margin-right: 10px;
    }
  }
}

@media (min-width: 768px) {
  .top-bar {
    padding: 0;
    text-align: left;

    .col-12:last-child {
      justify-content: flex-end;
      margin-top: 0px;
    }
  }
}
