.widget_products {
  @extend .container;
  margin-bottom: 40px;
  .widget-title {
    @extend .styled-title;
    margin-top: 30px;
  }

  .product_list_widget {
    display: grid;
    row-gap: 50px;
    margin: 0;
    padding: 0;

    li {
      width: 100%;
      list-style-type: none;
      text-align: center;

      del {
        opacity: 0.5;
      }

      ins {
        background: transparent;
      }

      del,
      ins {
        display: inline-block;
        margin-top: 6px;
        font-family: "Arimo";
        font-size: 16px;
      }

      a {
        display: block;
        text-align: center;
        text-transform: uppercase;
        font-size: 19px;
        font-weight: bold;
        text-decoration: none;
        color: #222;
        font-family: "Space Mono";
        transition: all 0.25s;

        &:hover {
          opacity: 0.8;
        }

        img {
          width: 100%;
          margin-bottom: 6px;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .widget_products {
    .product_list_widget {
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: 50px;
    }
  }
}
