button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  padding: 15px;
  border: 1px solid #383838;
  border-radius: 3px;
  background: #fff;
  color: #383838;
  line-height: 1;
  padding: 10px;
  text-transform: uppercase;
  border-radius: 0px;
  cursor: pointer;

  &:hover {
    background: #383838;
    color: #fff;
  }
}
